/* styles.css */

* {
  font-family: DM Sans, Bowlby One;
}

h1 {
  font-family: Bowlby One;
  font-weight: 70;
  font-size: 35px;
  color: #380036;
}

h2 {
  font-family: Bowlby One;
  font-weight: 70;
  font-size: 25px;
  color: #36453b;
}

h3 {
  font-family: Bowlby One;
  font-weight: 70;
  font-size: 25px;
  color: #36453b;
}

p {
  font-family: DM Sans;
  font-size: 17px;
}

li {
  font-family: DM Sans;
  font-size: 17px;
}